python==3.9.18
streamlit==1.32.0
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
plotly==5.19.0
Pillow==10.2.0
reportlab==4.1.0
scikit-learn==1.4.2
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.1.1
protobuf==4.25.3 
